* {
    overflow: hidden;
    outline: none;
}

:root{
    --cor-cinzaescuro: #101010;
    --font-poppins: "Poppins",sans-serif; 
}

body {
    width: 100vw;
    height: 100vh;
}

main {
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
}


.divback {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 1%;

}

.background {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 46rem;
    height: 28.3125rem;
    border-radius: 0.3125rem;
    background: #101010;
    z-index: 10;
    border: 5px solid rgba(255, 255, 255, 0.06);
}

.navegation{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-poppins);
    text-align: center;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #666;
}

.navegation {
    margin: 0.3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 21.4375rem;
    height: 3.66rem;
    border-radius: 0.25rem;
    border: 3px solid rgba(255, 255, 255, 0.03);
    background: rgba(38, 38, 38, 0.30); 
}

.navegation1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #666;
    font-family: var(--font-poppins);
    text-align: center;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 650;
    line-height: normal;
}

.box-items {
    display: flex;
    flex-direction: row;
    margin: 0.3rem;
    gap: 1rem;
}


.navegation1 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 10.4375rem;
    height: 4.0625rem;
    border-radius: 0.25rem;
    border: 2px solid rgba(255, 255, 255, 0.03);
    background: #151515;
}

.items {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fcfcfc;
    font-family: var(--font-poppins);
    text-align: center;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.items {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    width: 10.4375rem;
    height: 4.0625rem;
    border-radius: 0.25rem;
    border: 2px solid rgba(255, 255, 255, 0.03);
    background: #0246CC;    
}

.boxs {
    font-family: var(--font-poppins);
    font-weight: 900;
    color: #666;;
    text-align: center;
    font-size: 2rem;
}

.boxs {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 9.75rem;
    height: 8.5rem;
    flex-wrap: wrap;

}

.boxs {
    border-radius: 0.1875rem;
    border: 1px solid rgba(121, 121, 121, 0.13);
    background: radial-gradient(121.17% 121.17% at 50% 53.37%, rgba(212, 200, 200, 0.87) 0%);
    box-shadow: 0px 0px 93px 44px rgba(4, 4, 4, 0.25) inset;
}


button {
    cursor: pointer;
    transition: all 0.5s;
}

button:hover {
        border: 2px solid #181818;
        background: rgba(170, 170, 170, 0);
        transition: 0.6s;
    
}

